<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      p {
        background-color: violet;
      }
    </style>
    <title>Data Selfie</title>
  </head>
  <body>
    <h1>Data Selfie Application</h1>
    <a href="/">Enter</a>|| <a href="/api">List</a>

    <p id="data" style="display: none"><%= data %></p>
    <script src="scripts/all.js"></script>
  </body>
</html>
