<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/p5@0.8.0/lib/addons/p5.dom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@0.8.0/lib/p5.min.js"></script>

    <title>Data Selfie Application</title>
  </head>
  <body>
    <h1>Data Selfie Application</h1>

    <a href="/">Enter</a>|| <a href="/api">List</a>

    <p>Latitude <span id="latitude">&deg;</span> <br /></p>
    <p>Longitute <span id="longitute"> &deg;</span> <br /></p>

    <input type="text" name="mood" id="mood" />

    <input type="button" value="Submit" id="but" />

    <script src="scripts/index.js"></script>
  </body>
</html>
